@model ConcentracionNotas.Models.Asignatura

@{
    ViewBag.Title = "Crear Asignatura";
    
    List<SelectListItem> tiposItems = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "E-learning", Value = "1"},
        new SelectListItem(){Text = "Lectiva", Value = "2"},
        new SelectListItem(){Text = "Práctica", Value = "3"},
        new SelectListItem(){Text = "Semi Presencial / B-learning", Value = "3"}
    };
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>@ViewBag.Title<small></small></h5>
    </div>
    <div class="ibox-content">

        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ProfesorId, null, new {@class = "control-label"})
            <div class="-col-sm-9">
                @Html.DropDownList("ProfesorId", (IEnumerable<SelectListItem>)ViewBag.ProfesorId, new { @class = "form-control" })
                <span class="help-block">@Html.ValidationMessageFor(model => model.ProfesorId)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AsignaturaNombre, null, new {@class = "control-label"})
            <div class="-col-sm-9">
                @Html.TextBoxFor(model => model.AsignaturaNombre, null, new {@class = "form-control"})
                <span class="help-block">@Html.ValidationMessageFor(model => model.AsignaturaNombre)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AsignaturaTipo, null, new { @class = "control-label" })
            <div class="-col-sm-9">
                @Html.DropDownListFor(model => model.AsignaturaTipo, tiposItems, "Seleccione", new { @class = "form-control" })
                <span class="help-block">@Html.ValidationMessageFor(model => model.AsignaturaTipo)</span>
            </div>
        </div>
            
        <div class="hr-line-dashed"></div>
		<div class="form-group">
		    <div class="text-right">
		        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
		        <input type="submit" class="btn btn-primary" value="Guardar"/>
		    </div>
		</div>
            
        }

    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
