@model IEnumerable<ConcentracionNotas.Models.Asignatura>

@{
    ViewBag.Title = "Lista de Asignaturas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Agregar Asignatura", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>RUT Profesor</th>
        <th>@Html.DisplayNameFor(model => model.AsignaturaNombre)</th>
        <th>@Html.DisplayNameFor(model => model.AsignaturaTipo)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@String.Format("{0}-{1}", item.Profesor.ProfesorRut, item.Profesor.ProfesorRutDigito)</td>
        <td>@Html.DisplayFor(modelItem => item.AsignaturaNombre)</td>
        <td>@Html.DisplayFor(modelItem => item.AsignaturaTipo)</td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.AsignaturaId }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.AsignaturaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.AsignaturaId })
        </td>
    </tr>
}
</table>
