@model IEnumerable<ConcentracionNotas.Models.Alumno>

@{
    ViewBag.Title = "Lista de alumnos";
}

<h2>@ViewBag.Title</h2>


<div class="ibox-content m-b-sm border-bottom">
    <div class="text-right">
        <a href="@Url.Action("Create")" class="btn btn-default">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Agregar Alumno
        </a>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>RUT</th>
                <th>@Html.DisplayNameFor(model => model.AlumnoNombre)</th>
                <th>@Html.DisplayNameFor(model => model.AlumnoApellido)</th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>@String.Format("{0}-{1}", item.AlumnoRut, item.AlumnoRutDigito)</td>
                <td>@Html.DisplayFor(modelItem => item.AlumnoNombre)</td>
                <td>@Html.DisplayFor(modelItem => item.AlumnoApellido)</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new {id = item.AlumnoId})" class="btn-white btn btn-xs">Editar</a>
                        <a href="@Url.Action("Delete", new { id = item.AlumnoId })" class="btn-white btn btn-xs">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
        </table>
    </div>
</div>

