@model ConcentracionNotas.Models.Concentracion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Concentracion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Asignatura.AsignaturaNombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asignatura.AsignaturaNombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alumno.AlumnoRutDigito)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alumno.AlumnoRutDigito)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConcentPromedio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConcentPromedio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConcentSituacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConcentSituacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConcentAsistencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConcentAsistencia)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
