@model ConcentracionNotas.Models.Concentracion

@{
    ViewBag.Title = "Editar Asistencia";

    List<SelectListItem> asistenciaItems = new List<SelectListItem>();

    for (var i = 0; i < 100; i = i + 2)
    {
        asistenciaItems.Add(new SelectListItem() { Text = (i + 2).ToString() + "%", Value = (i + 2).ToString() });
    }
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>@ViewBag.Title<small></small></h5>
    </div>
    <div class="ibox-content">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ConcentFolio)

        <div class="form-group">
            @Html.LabelFor(model => model.ConcentAsistencia, null, new {@class = "col-sm-3 control-label"})
            <div>
                @Html.DropDownListFor(model => model.ConcentAsistencia, asistenciaItems, "Seleccione", new {@class = "form-control"})
                <span class="help-block">@Html.ValidationMessageFor(model => model.ConcentAsistencia)</span>
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="text-right">
                @Html.ActionLink("Cancelar", "Index", null, new {@class = "btn btn-white"})
                <input type="submit" class="btn btn-primary" value="Guardar"/>
            </div>
        </div>
    }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
