@model IEnumerable<ConcentracionNotas.Models.Concentracion>

@{
    ViewBag.Title = "Lista de Concentraciones de Notas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Agregar Concentración", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Alumno</th>
        <th>Asignatura</th>
        <th>@Html.DisplayNameFor(model => model.ConcentPromedio)</th>
        <th>@Html.DisplayNameFor(model => model.ConcentSituacion)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@String.Format("{0} {1}", item.Alumno.AlumnoNombre, item.Alumno.AlumnoApellido)</td>
        <td>@Html.DisplayFor(modelItem => item.Asignatura.AsignaturaNombre)</td>
        <td>@Html.DisplayFor(modelItem => item.ConcentPromedio)</td>
        <td>@Html.DisplayFor(modelItem => item.ConcentSituacion)</td>
        <td>
            @Html.ActionLink("Notas", "Index", "Nota", new { id = item.ConcentFolio }, null) |
            @Html.ActionLink("Asistencia", "Edit", new { id = item.ConcentFolio }) |
            @*Html.ActionLink("Detalles", "Details", new { id = item.ConcentFolio }) | *@
            @Html.ActionLink("Eliminar", "Delete", new {id = item.ConcentFolio})
        </td>
    </tr>
}

</table>
