@model ConcentracionNotas.Models.ProfesorModelo

@{
    ViewBag.Title = "Agregar Profesor";
}

<div class="panel panel-default" style="width: 600px;">
    <div class="panel-heading">
        <div class="panel-title">@ViewBag.Title</div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal"})) {
    <div class="panel-body">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.RolUnico, null, new {@class = "col-sm-3 control-label"})
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.RolUnico, null, new {@class = "form-control"})
                <span class="help-block">@Html.ValidationMessageFor(model => model.RolUnico)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfesorNombre, null, new {@class = "col-sm-3 control-label"})
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.ProfesorNombre, null, new {@class = "form-control"})
                <span class="help-block">@Html.ValidationMessageFor(model => model.ProfesorNombre)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfesorApellido, null, new {@class = "col-sm-3 control-label"})
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.ProfesorApellido, null, new {@class = "form-control"})
                <span class="help-block">@Html.ValidationMessageFor(model => model.ProfesorApellido)</span>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <input type="submit" class="btn btn-primary" value="Guardar"/>
         @Html.ActionLink("Cancelar", "Index", null, new {@class = "btn"})
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}