@model ConcentracionNotas.Models.ProfesorModelo

@{
    ViewBag.Title = "Agregar Profesor";
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>@ViewBag.Title<small></small></h5>
    </div>
    <div class="ibox-content">

         @using (Html.BeginForm())
         {

             @Html.ValidationSummary(true)

             <div class="form-group">
                 @Html.LabelFor(model => model.RolUnico, null, new {@class = "control-label"})
                 <div>
                     @Html.TextBoxFor(model => model.RolUnico, null, new {@class = "form-control"})
                     <span class="help-block">@Html.ValidationMessageFor(model => model.RolUnico)</span>
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.ProfesorNombre, null, new {@class = "control-label"})
                 <div>
                     @Html.TextBoxFor(model => model.ProfesorNombre, null, new {@class = "form-control"})
                     <span class="help-block">@Html.ValidationMessageFor(model => model.ProfesorNombre)</span>
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.ProfesorApellido, null, new {@class = "control-label"})
                 <div>
                     @Html.TextBoxFor(model => model.ProfesorApellido, null, new {@class = "form-control"})
                     <span class="help-block">@Html.ValidationMessageFor(model => model.ProfesorApellido)</span>
                 </div>
             </div>

             <div class="hr-line-dashed"></div>
             <div class="form-group">
                 <div class="text-right">
                     @Html.ActionLink("Cancelar", "Index", null, new {@class = "btn btn-white"})
                     <input type="submit" class="btn btn-primary" value="Guardar"/>
                 </div>
             </div>
         }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
